body{
    font-family: 'Poppins', sans-serif;
}
.sub-nav {
   margin:30px auto ;
}
.sub-nav li {
    list-style: none;
  
}
.link-item{
    font-size: 18px;
    border: 1px solid rgb(255, 65, 141);
    font-family: 'Poppins', sans-serif;
}
.img-card{
    height: 150px;
}
.blog-modal-body{
    background-color: rgb(6, 6, 49);
}
.search-input{
    height: 48px;
    width: 200px;
    border: 1px solid rgb(6, 6, 49);
}
.input-group-head{
    width: 35%;
    
}
/* Banner part start */
.banner-main{
    position: relative;
    width: 100%;
   
}

.video-banner{
    width: 100%;
    height: 600px;
    object-fit: cover;

}
.banner-title{
    position: absolute;
   width: 100%;
   height: 100%;
   top: 0%;
 background-color: rgba(0, 0, 0, 0.61);
  padding: 8%;
    
}
.banner-title-pera span{
 color: white;
 margin: 0 10px ;
 border-right: 1px solid rgb(201, 198, 198);
 padding: 0 10px;
}
/* Banner part over */
/* Post Body start */
.post-main{
    background-color: rgb(64, 98, 123);
    padding: 30px 10px;
}
.post-body{
    width: 60%;
}
/* Post Body over */
/* Footer start */
.footer-items{
    margin-top: 50px;
}
.footer-items ul{
    padding: 0;
    margin: 0;
}
.footer-items ul li{
    list-style: none;
    color: rgb(104, 97, 97);
    margin-top: 10px;
}
/* Footer over */
/* Real Estate start */
.cardImg{
    width: 100%;
    height: 350px;
}
.estate-descrip{
    text-align: justify;
    font-size: 17px;
    line-height: 22px;
    
}
.etate-pera{
    font-size: 20px;
    margin:0;
}
.estate-name{
    font-size: 18px;
}
.Card-items{
    height: 600px;
    position: relative;
}
.Card-items:hover{
    box-shadow: 0px 10px 15px silver;
    
}
.card-img-overflow-price{
    position: absolute;
    bottom: 40%;
    left: 10px;
   
    
}

.card-price p{
    background-color: rgba(151, 141, 3, 0.733);
    color: white;
    padding: 5px;
    font-size: 18px;
    border-radius: 8px;
}
.more-btn{
    display: block;
    border: 2px solid rgba(151, 141, 3, 0.733) ;
    padding: 8px;
   font-size: 18px;
    margin: 10px;
    color:rgba(151, 141, 3, 0.733)  ;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}
.Card-items:hover .more-btn{
    background-color:rgba(151, 141, 3, 0.733) ;
    color: white;
    
}
.navigate-home{
    color: rgb(9, 107, 146);
    text-decoration: none;
    font-weight: 900;
    
}
/* Real Estate over */
/* Real Estate single page start */
.single-Banner{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
}
.img-part{
    border: 1px solid silver;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 15px 20px silver;
}
.single-main-img{ 
    width: 100%;  
    height: 450px;
}
.thumber-img{
    border: 1px solidrgba(151, 141, 3, 0.733) ;
    padding: 5px;
    width: 150px;
    height: 80px;
}
.estate-single-main{
    padding-bottom: 20px;
    border-bottom: 3px dotted skyblue;
}
.about-details .estate-descrip{
    line-height: 25px;
}
.link-home{
    text-decoration: none;
    color: white;
}
.footer-main{
    margin-top: 30px;
    background-color: rgba(111, 207, 245, 0.61);
}
/* Real Estate single page over */
@media screen and (max-width: 768px) {
    .input-group-head{
        width: 70%;
    }
    .banner-title{
        padding: 20% 3%;
    }
    
    .card-img-overflow-price{
        bottom: 50%;
    }
}
@media screen and (max-width: 480px) {
   
    .Card-items{
       height: 650px;
    }
   
}