.sub-nav {
   margin:30px auto ;
}
.sub-nav li {
    list-style: none;
  
}
.link-item{
    font-size: 18px;
    border: 1px solid rgb(255, 65, 141);
    font-family: 'Poppins', sans-serif;
}
.img-card{
    height: 150px;
}
.blog-modal-body{
    background-color: rgb(6, 6, 49);
}